:root{
        --background-secondary: #2f3136;
        --background-primary: #36393f;
        --channels-default: #8e9297;
        --text-normal:#dcddde;
        --background-modifier-selected: rgba(79,84,92,0.32);
        --background-secondary-alt: #292b2f;
        --owner-color:#87f542;
        --header-primary : #fff;
        --background-accent: #4f545c;
        --header-secondary: #b9bbbe;
        --background-modifier-accent: hsla(0,0%,100%,0.06);
        --channeltextarea-background: #40444b;
        --text-muted: #72767d;
}
label{
        margin-bottom: 0;
        font-weight: 0;
        padding: 0;
}
::-webkit-scrollbar{
        display: none;
}
.bi.bi-check{
        margin-left:-4px;
}
.bi.bi-hash{
        float: left;
        margin-right: 10px;
}
h1{
        color:var(--text-normal);
}
a{
        text-decoration: none  !important;
        color: var(--text-normal);
}
a:hover{
        text-decoration: none;
        color: var(--text-normal);
}
html, body{
        padding: 0;
        height: 100%;
}
.main-container{
        display: flex;
        flex-direction: column;
        height: 100%;
}
.content-container{
        display: flex;
        flex-direction: row;
        height: 100%;
        overflow: hidden;
}
.top-navbar{
        display: flex;
        flex-direction: row;
        height: 45px;
        border-bottom: 1px solid var(--background-secondary-alt);
}
.topnav-section1{
        flex: 1;
        background-color: var(--background-secondary);
}
.topnav-section2{
        flex: 5;
        background-color: var(--background-primary);
}
.topnav-section2 > div >h1 {
        overflow:hidden;
        margin: 9px;
        color: var(--channels-default);
        font-size: 25px;
        text-align: left;
        
}
.topnav-section1 > div > h1{
        min-width: 193.41px;
        /* margin: 0; */
        margin-top: 10px;
        color: var(--text-normal);
        font-size: 20px;
        text-align: center;
}
.left-nav{
        display: flex;
        flex: 1;
        flex-direction: column;
        background-color: var(--background-secondary);
}
.repo-breaks{
        display: inline-flex;
        margin-left: 5px;
}
.repo-breaks > i{
        color: var(--channels-default);
        margin-top: 4px;
}
.channels{
        padding-top: 20px;
        flex: 10;
        text-align: left;
        overflow-y:scroll;
}
.channels > div{
        padding: 5px;
}
.channels > div > h1 {
        padding: 5px;
        border-radius: 5px;
        color: var(--channels-default);
        cursor: pointer;
        margin: 0;
        font-size: 20px;
}
.channels > div > p {
        padding: 5px;
        border-radius: 5px;
        color: var(--channels-default);
        margin: 0;
        font-weight: 600;
        font-size: 12px;
}
.channels > div > h1:hover{
        color: var(--text-normal);
}
.channels > div > h1.channel-selected{
        color: var(--text-normal);
        background-color: var(--background-modifier-selected);
}
.author{
        flex:1;
        color: var(--text-normal);
        background-color: var(--background-secondary-alt);
}
.author-split{
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 4px;
}
.author-image{
        flex: 1;
        max-width: 60px;
        width: 60px;
        height: 60px;
        margin-right: 10px;
}
.real-image{
        max-width: 60px;
        width: 100%;
        border-radius: 50%;
        height: 100%;
        background-size: contain;
        background-repeat: no-repeat;
        margin-right: 20px; 
}
.author-text{
        display: flex;
        flex:1;
        flex-direction: row;
        justify-content: space-around;
}
.author-text > div > a > h1 {
        font-size:26px ;
        color: var(--text-normal);
}
.phone{
        flex: 1;
        margin-top: 24px;
}
.mail{
        flex: 1;
        margin-top: 24px;
}
.center-nav{
        flex:4;
        display:flex;
        flex-direction: column;
        background-color: var(--background-primary);
        
}
.right-nav{
        flex:1;
        background-color: var(--background-secondary);
        padding-left: 5px;
}
.right-nav > div > p {
        padding: 5px;
        border-radius: 5px;
        color: var(--channels-default);
        margin: 0;
        font-weight: 600;
        font-size: 14px;
}
.bot-split{
        margin-top: 5px;
        margin-left: 5px;
        display: flex;
        flex-direction: row;
        min-width: 200px;
        margin-bottom: 20px;
}
.bot-image{
        flex: 1;
        max-width: 40px;
        margin-right: 5px;
}
.bot-data{
        display: flex;
        flex:3;
        flex-direction: column;
        color: var(--channels-default);
}
.bot-name{
        flex:1;
        text-align: left;
}
.bot-status{
        flex:1;
        font-size: 12px;
}
.bot-real-image{
        max-width: 40px;
        width: 100%;
        border-radius: 50%;
        height: 100%;
        background-size: contain;
        background-repeat: no-repeat;
}
.label-primary{
        background-color: #7289da;
}
#container{
        background: var(--background-primary); 
        height: 100%;
        display: none;
}
#jumbotron{
        background: var(--background-primary); 
        color: var(--channels-default);
}
.frame-container{
        display: flex;
        flex: 1;
        flex-direction: column;
        justify-content: flex-end;
        /* max-height: 700px; */
        /* padding-bottom: 10px; */
        /* padding-bottom: 90px; */
        font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
.main-embed{
        display: flex;
        flex-direction: row;
        width: 80%;
        margin-bottom: 20px;
}
.embed-user-image{
        flex:1;
}
.embed-message{
        display: flex;
        flex-direction: row;
        flex:9;
}
.embed-user-name{
        flex:9;
        display: flex;
        flex-direction: column;
}
.embed-user{
        flex:1;
}
.embed-actual-user-name{
        font-size: 14px;
        font-weight: 700;
        color: var(--owner-color)
}
#date{
        margin-left: 5px;
        font-size: 11px; 
        font-weight: 200;
        color:var(--channels-default)
}
.embed-data{
        flex:9;
        display: flex;
        flex-direction: row;
        border-radius: 6px;
        border-left: 3.5px solid #32a61b;
        background-color: var(--background-secondary);
}
.embed-real-image{
        margin-left: 10px;
        width: 50px;
        border-radius: 50%;
}
.embed-content{
        flex:9;
        color: var(--text-normal);
        font-weight: 600;
        
}
.content-grid{
        display: grid;
        grid-template-columns: auto;
        padding: 10px;
        grid-row-gap: 4px;
        color: var(--header-primary);
}
.grid-item{
        text-align: left;
}
.title-bold-1{
        margin: 0;
        font-size: 16px;
}
.title-bold-2{
        margin: 0;
        margin-top: 5px;
        font-size: 14px;
        font-weight: 600;
}
.content-body-1{
        margin: 0;
        font-weight: 400;
        font-size: 14px;
}
.embed-thumbnail{
        flex: 1;
}
.channel-header{
        display: flex;
        flex-direction: column;
        border-bottom: 1px solid var(--background-modifier-accent);
        padding: 10px;
        margin-bottom: 10px;
}
.channel-header-text{
        font-size: 32px;
        font-weight: 700;
        line-height: 40px;
        margin: 8px 0;
        color: var(--header-primary);
}
.channel-header-text-secondary{
        color: var(--header-secondary);
}
.channel-hash{
        border-radius: 50%;
        color: var(--header-primary);
        background-color: var(--background-accent);
        font-size: 60px;
        width: 70px;
        height: 70px;
        text-align: center;
}
.channel-hash > i{
        margin-top: 3px;
}
.first-child-content{
        margin-top: auto;
}
.input-message{
        display: flex;
        flex: 1;
        width: 100%;
        flex-direction: row;
        justify-content: center;
        text-align: center;
        align-items: center;
}
.input-message-div{
        width: 80%;
        height: 40px;
}
.input-text-area{
        -webkit-box-shadow: none;
	-moz-box-shadow: none;
        box-shadow: none;
        border: none;
        border-radius: 5px;
        width: 100%;
        height: 100%;
        color: var(--text-normal);
        padding: 5px;
        background-color: var(--channeltextarea-background);
}
input:focus{
        outline: none;
}
.chat-box{
        flex: 9; 
        display: flex; 
        flex-direction: column-reverse; 
        overflow-y: scroll;
}
@media only screen and (max-width:768px){
        #main-container{
                display: none;
        }
        #container{
                display: block;
        }
}