:root{
        --background-secondary: #2f3136;
        --background-primary: #36393f;
        --channels-default: #8e9297;
        --text-normal:#dcddde;
        --background-modifier-selected: rgba(79,84,92,0.32);
        --background-secondary-alt: #292b2f;
}
label{
        margin-bottom: 0;
        font-weight: 0;
        padding: 0;
}
::-webkit-scrollbar{
        display: none;
}
.bi.bi-check{
        margin-left:-4px;
}
.bi.bi-hash{
        float: left;
        margin-right: 10px;
}
h1{
        color:var(--text-normal);
}
a{
        text-decoration: none  !important;
        color: var(--text-normal);
}
a:hover{
        text-decoration: none;
        color: var(--text-normal);
}
html, body{
        padding: 0;
        height: 100%;
}
.main-container{
        display: flex;
        flex-direction: column;
        height: 100%;
}
.content-container{
        display: flex;
        flex-direction: row;
        height: 100%;
}
.top-navbar{
        display: flex;
        flex-direction: row;
        height: 45px;
        border-bottom: 1px solid var(--background-secondary-alt);
}
.topnav-section1{
        flex: 1;
        background-color: var(--background-secondary);
}
.topnav-section2{
        flex: 5;
        background-color: var(--background-primary);
}
.topnav-section2 > div >h1 {
        overflow:hidden;
        margin: 9px;
        color: var(--channels-default);
        font-size: 25px;
        text-align: left;
        
}
.topnav-section1 > div > h1{
        min-width: 160.41px;
        /* margin: 0; */
        margin-top: 10px;
        color: var(--text-normal);
        font-size: 20px;
        text-align: center;
}
.left-nav{
        display: flex;
        flex: 1;
        flex-direction: column;
        background-color: var(--background-secondary);
}
.channels{
        padding-top: 20px;
        flex: 10;
        text-align: left;
        overflow-x:scroll;
}
.channels > div{
        padding: 5px;
}
.channels > div > h1 {
        padding: 5px;
        border-radius: 5px;
        color: var(--channels-default);
        cursor: pointer;
        margin: 0;
        font-size: 20px;
}
.channels > div > p {
        padding: 5px;
        border-radius: 5px;
        color: var(--channels-default);
        margin: 0;
        font-weight: 600;
        font-size: 12px;
}
.channels > div > h1:hover{
        color: var(--text-normal);
}
.channels > div > h1.channel-selected{
        color: var(--text-normal);
        background-color: var(--background-modifier-selected);
}
.author{
        flex:1;
        color: var(--text-normal);
        background-color: var(--background-secondary-alt);
}
.author-split{
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 4px;
}
.author-image{
        flex: 1;
        max-width: 60px;
        width: 60px;
        height: 60px;
        margin-right: 10px;
}
.real-image{
        max-width: 60px;
        width: 100%;
        border-radius: 50%;
        height: 100%;
        background-size: contain;
        background-repeat: no-repeat;
        margin-right: 20px; 
}
.author-text{
        flex:1;
}
.author-text > a > h1 {
        font-size:26px ;
        color: var(--text-normal);
}
.center-nav{
        flex:4;
        background-color: var(--background-primary);
}
.right-nav{
        flex:1;
        background-color: var(--background-secondary);
}
.bot-split{
        margin-top: 5px;
        margin-left: 5px;
        display: flex;
        flex-direction: row;
        min-width: 200px;
        margin-bottom: 20px;
}
.bot-image{
        flex: 1;
        max-width: 40px;
        margin-right: 5px;
}
.bot-data{
        display: flex;
        flex:3;
        flex-direction: column;
        color: var(--channels-default);
}
.bot-name{
        flex:1;
        text-align: left;
}
.bot-status{
        flex:1;
        font-size: 12px;
}
.bot-real-image{
        max-width: 40px;
        width: 100%;
        border-radius: 50%;
        height: 100%;
        background-size: contain;
        background-repeat: no-repeat;
}
.label-primary{
        background-color: #7289da;
}
